
#home-header {
	background-color: #008080;
  width: 1284px;
  margin: 15px auto;
}

#home-body {
	text-align: center;
	margin-top: 50px;
}

#home-body h2{
  margin-bottom: 40px;
}

.abc{
	padding-left:350px;
	padding-right:350px;
	padding-top:30px;
	padding-top: 80px;
	padding-bottom: 50px;
}

.aab{
	padding-top:10px;
}

#addpatient {
	margin-bottom: 50px;
}

.sidenav {
  height: 70vh;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1C9FCB;
  overflow-x: hidden;
  padding-top: 40px;
  font-family: 'Hind Madurai', sans-serif;
  margin-top: 100px;
  margin-left: 20px;
}

center {
  margin-bottom: 30px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media only screen and (max-width: 450px) {

  *{
    overflow-y: scroll;
  }

  #home-header {
    width: 94vw;
    margin: 10px 10px;
  }
  .navbar {
    justify-content: flex-end;
  }
  .btn  {
    margin: 0px 10px;
  }
  .abc{
    padding-left: 34px;
    padding-right: 35px;
    padding-top: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .sidenav {
    padding-top: 15px;
    margin-top: 200px;
    margin-right: 10px;
    display: block;
    width: 38vw;
    margin: 200px 10px;
  }
   .abc{
    padding-left: 0px;
  }
  .sidenav a {font-size: 18px;}
}

#sidebar {
	margin-left: 200px;
}



.yf{
font-family: 'Lato', sans-serif;
text-align: center;
}
#toomuch, #toomuch2, #toomuch3 {
  max-width: 170px;
}
